:root {
  --dark-color: #19283f;
  --green-color: #33d1cc;
  --red-color: #ff3150;
  --yellow-color: #ffc400;
  --section-color: #eff7fa;
}
body {
  font-family: "Roboto", sans-serif;
}
.main-title::before {
  content: "";
  position: absolute;
  bottom: -25px;
  left: 50%;
  width: 120px;
  height: 3px;
  background-color: var(--green-color);
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

/* start navbar  */
.navbar {
  background-color: var(--dark-color);
}
.navbar li a,
.navbar i {
  color: white;
}
.navbar .navbar-nav .nav-link.active,
.navbar li a:hover,
.navbar a:focus {
  color: var(--green-color);
}
.navbar .search {
  border-left: 1px solid var(--green-color);
}
.navbar .search i {
  color: var(--green-color);
}
.navbar .navbar-toggler {
  color: white;
  font-size: 25px;
  border-color: white;
}
.navbar .navbar-toggler[aria-expanded="true"] {
  border-color: var(--green-color);
}
.navbar .navbar-toggler:focus {
  box-shadow: none;
}
/* end navbar  */
/* start landing  */
.main-btn {
  background-color: var(--red-color);
  color: var(--yellow-color);
  padding: 0.5rem 1rem;
}
.main-btn:hover {
  background-color: var(--red-color);
  color: var(--yellow-color);
  padding: 0.5rem 1rem;
}
.landing {
  background-color: var(--dark-color);
  min-height: calc(100vh);
}
/* end landing  */
/* start features  */
.features .icon-holder {
  height: 200px;
}
.features .icon-holder i {
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
.features .icon-holder .number {
  font-size: 12rem;
  color: var(--section-color);
}
.features .icon-holder .icon {
  color: var(--green-color);
}
.features h4 {
  color: var(--yellow-color);
}
/* end features  */
/* start our work  */
.our-work {
  background-color: var(--section-color);
}
.our-work ul .active {
  background-color: var(--red-color);
  color: var(--yellow-color);
}
.our-work ul li {
  padding: 0.5rem 1rem;
  cursor: pointer;
}
.our-work ul li:not(.active):hover {
  color: var(--red-color);
}
.our-work .box {
  padding: 5px;
  overflow: hidden;
  position: relative;
}
.our-work .box::before {
  content: attr(data-work);
  position: absolute;
  background-color: #2cddd7a4;
  min-width: calc(100% - 10px);
  min-height: calc(100% - 10px);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: white;
  font-size: 1.5rem;
  transform: translateX(calc(-100% - 5px));
  transition: 0.3s;
}
.our-work .box:hover::before {
  transform: translateX(0);
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
}

/* end our work  */
/* start about us  */
.aboutUs .description {
  max-width: 500px;
}
/*  end about us  */
/* start our team  */
.ourTeam {
  background-color: var(--section-color);
}
.ourTeam h2 {
  font-weight: bold;
  color: var(--yellow-color);
  font-size: 35px;
}
.ourTeam h4 {
  background-color: var(--green-color);
}
.ourTeam img {
  min-width: 100%;
}
/* end our team  */
/* start start project  */
.start {
  background-color: var(--dark-color);
}
/* end project  */
.subscribe {
  background-color: var(--yellow-color);
}
.subscribe input[type="text"] {
  border: none;
  border-bottom: 1px solid white;
}
.subscribe input[type="text"]::placeholder {
  color: white;
  font-weight: bold;
}
.subscribe input[type="text"]:focus {
  outline: none;
  border: none;
  border-bottom: 1px solid white;
}
.subscribe input[type="submit"] {
  background-color: var(--dark-color);
  color: var(--yellow-color);
}
/* end subscribe  */
/* Start Footer */
.footer {
  background-color: var(--dark-color);
}
.footer .copyright > span {
  color: var(--green-color);
}
.footer .copyright div span {
  color: var(--yellow-color);
}
.footer .contact ul i {
  width: 36px;
  height: 36px;
  margin-top: 5px;
}
.footer .facebook {
  background-color: #1877f2;
}
.footer .twitter {
  background-color: #1da1f2;
}
.footer .linkedin {
  background-color: #0077b5;
}
.footer .youtube {
  background-color: #ff0000;
}
/* End Footer */
